<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
  </style>
</head>

<body>
  <table align="center" class="body giftcard__body">
    <tr>
      <td class="empty-line">&nbsp;</td>
    </tr>
    <tr>
      <td class="empty-line">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <table class="row content">
          <tr>
            <td class="content__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>



                      {{#if shop.email_logo_url }}
                      <table align="center" class="giftcard__doubletopmargin">
                        <tr>
                          <td>
                            <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" class="giftcard__logosize"
                              width="{{ shop.email_logo_width }}">
                          </td>
                        </tr>
                      </table>
                      {{/if}}

                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__title">{{ email_title }}</td>
                        </tr>
                      </table>

                      {{#when gift_card.message 'noteq' blank }}
                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__message">
                            "{{ gift_card.message }}"
                          </td>
                        </tr>
                      </table>
                      {{/when}}

                      <table align="center" class="giftcard__topmargin">
                        <tr>
                          <td class="giftcard__balance">{{ gift_card.initial_value }}</td>
                        </tr>
                        {{#if gift_card.expires_on }}
                        <tr>
                          <td class="giftcard__smalltext">
                            Expires {{ formatDate gift_card.expires_on }}
                          </td>
                        </tr>
                        {{/if}}
                      </table>

                      <table align="center" class="giftcard__doubletopmargin">
                        <tr>
                          <td>
                            <img src="{{ 'gift-card/card.jpg'  }}" alt="Gift card image" width="240" height="160">
                          </td>
                        </tr>
                      </table>

                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__shop_name">{{ shop.name }}</td>
                        </tr>
                      </table>

                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__smalltext">
                            Use the gift card code online
                          </td>
                        </tr>
                        <tr>
                          <td class="giftcard__code">
                            {{ gift_card.code }}
                          </td>
                        </tr>
                      </table>

                      <table class="row actions">
                        <tr>
                          <td class="actions__cell">
                            <table align="center" class="button">
                              <tr>
                                <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit online
                                    store</a></td>
                              </tr>
                            </table>
                            <table align="center" class="button">
                              <tr>
                                <td class="link__cell"><a href="{{ gift_card.url }}" class="link__text">View gift card
                                    balance</a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>

                      {{#if gift_card.pass_url }}
                      <table align="center" class="row">
                        <tr>
                          <td class="giftcard__textcenter">
                            <a href="{{ gift_card.pass_url }}" class="apple-wallet-button">
                              <img src="{{ 'gift-card/add-to-apple-wallet.png'  }}" alt="Add to Apple Wallet"
                                width="120" height="40">
                            </a>
                          </td>
                        </tr>
                      </table>
                      {{/if}}


                      {{#if shop.email_logo_url }}
                      <table align="center" class="giftcard__doubletopmargin">
                        <tr>
                          <td>
                            <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" class="giftcard__logosize"
                              width="{{ shop.email_logo_width }}">
                          </td>
                        </tr>
                      </table>
                      {{/if}}


                      {{#when gift_card.message 'noteq' blank }}
                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__message">
                            "{{ gift_card.message }}"
                          </td>
                        </tr>
                      </table>
                      {{/when}}

                      <table align="center" class="giftcard__topmargin">
                        <tr>
                          <td class="giftcard__balance">{{ formatMoney gift_card.initial_value }}</td>
                        </tr>
                        {{#if gift_card.expires_on }}
                        <tr>
                          <td class="giftcard__smalltext">
                            Expires {{ formatDate gift_card.expires_on }}
                          </td>
                        </tr>
                        {{/if}}
                      </table>

                      <table align="center" class="giftcard__doubletopmargin">
                        <tr>
                          <td>

                          </td>
                        </tr>
                      </table>

                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__shop_name">{{ shop.name }}</td>
                        </tr>
                      </table>

                      <table align="center" class="row giftcard__topmargin">
                        <tr>
                          <td class="giftcard__smalltext">
                            Use the gift card code online
                          </td>
                        </tr>
                        <tr>
                          <td class="giftcard__code">
                            {{ gift_card.code }}
                          </td>
                        </tr>
                      </table>

                      <table class="row actions">
                        <tr>
                          <td class="actions__cell">
                            <table align="center" class="button">
                              <tr>
                                <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit online
                                    store</a></td>
                              </tr>
                            </table>
                            <table align="center" class="button">
                              <tr>
                                <td class="link__cell"><a href="{{ gift_card.url }}" class="link__text">View gift card
                                    balance</a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>

                      {{#if gift_card.pass_url }}
                      <table align="center" class="row">
                        <tr>
                          <td class="giftcard__textcenter">
                            <a href="{{ gift_card.pass_url }}" class="apple-wallet-button">
                              <img src="{{ 'gift-card/add-to-apple-wallet.png'  }}" alt="Add to Apple Wallet"
                                width="120" height="40">
                            </a>
                          </td>
                        </tr>
                      </table>
                      {{/if}}


                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table class="row footer">
          <tr>
            <td class="footer__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>

                      <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a
                          href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>


      </td>
    </tr>
  </table>
</body>

</html>